.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Courgatte', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #08835a;
}

p {
  font-size: 2rem;
  color: #08835a;
  font-family: 'Aboreto', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.btn {
  background-color: #08835a;
  border-radius: 28px;
  font-family: Indie Flower;
  color: #000000;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}